
@model IEnumerable<SapewinWeb.Models.Escalas>
<div class="modal-header" style="margin-bottom:10px;">
    <h5 class="modal-title"><i class="fa fa-th" aria-hidden="true"></i> Cadastro de Escalas > Remover</h5>
</div>
<div class="alert alert-danger alert-dismissible fade show" hidden="hidden" id="AlertaModal" role="alert">
    <button type="button" id="FechaAlertaModal" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong class="txtalerta" id="txtalertaModal"></strong>
</div>
<form id="FormRemover" action="/CadastroEscalas/CadastroEscalas_Remover_Selecao_Salvar/?id=" method="post">
    <div class="modal-body">
        
        <div class="form-group"> <span> Tem certeza que deseja <strong>remover @Model.Count() item(s)</strong>?</span></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">Sim</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>
    </div>
</form>
<script>
    monitorador();
    $('#FormRemover').submit(function (e) {
        e.preventDefault();
        e.defaultPrevented = true;
        $.post($(this).attr('action') + ids.join('&id='), $(this).serialize(), function (data) {
            if (data.status == true) {
                ids = [];
               LoadGridCadastroEscalas();
                $('#WinGenerica').modal('hide');

            } else {
                $('#txtalertaModal').text(data.msg);
                $('#AlertaModal').removeAttr('hidden', 'hidden');
            }
        });
    });

    $('#FechaAlertaModal').click(function () {
        $(this).parent().attr('hidden', 'hidden')
    });
</script>


