
<button class="btn btn-sm btn-dark" id="teste">teste</button>

<script>
    $('#teste').click(function () {
        $.post('/Home/Atualizafront/', function (data) {
           
        });
    });
</script>