@model IEnumerable<SapewinWeb.Models.MotivosdeAbono>

<div class="modal-header" style="margin-bottom:10px;">
    <h5 class="modal-title"><i class="fa fa-th" aria-hidden="true"></i> Afastamentos</h5>
</div>
<div class="alert alert-danger alert-dismissible fade show" hidden="hidden" id="AlertaModal" role="alert">
    <button type="button" id="FechaAlertaModal" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong class="txtalerta" id="txtalertaModal"></strong>
</div>
<div class="modal-body" style="font-size:small;">
    <div class="row">
        <div class="col-4 col-lg-3">
            <div class="form-group">
                <label>Data Inicial</label>
                <input class="form-control form-control-sm" type="date" id="dataInicio" />
            </div>
        </div>
        <div class="col-4 col-lg-3">
            <div class="form-group">
                <label>Data Final</label>
                <div class="d-flex">
                    <div class="d-flex">
                        <input class="form-control form-control-sm" style="margin-right:10px;" type="date" id="dataFinal" />
                        <div class="switch">
                            <label>
                                <input id="Indefinido" type="checkbox">
                                <span class="slider"></span>
                                <span>Indefinido</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Motivo</label>
        <div class="d-flex">
            <select class="form-control form-control-sm" id="cbxAfastamento" style="margin-right:10px;">
                <option value="a" disabled="disabled" selected="selected"></option>
                @foreach (var Afastamento in Model)
                {
                    <option value="@Afastamento.Abreviacao">@Afastamento.Abreviacao - @Afastamento.Nome</option>
                }
            </select>
            <button class="btn btn-sm btn-dark" id="AddAfastamento"><i class="fa fa-fw fa-plus"></i></button>
        </div>
    </div>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Inicío</th>
                <th>Fim</th>
                <th>Motivo </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tabAfastamento"></tbody>
    </table>
    <script>

        function AtualizaGridAfastamentos() {
            $('#tabAfastamento').load('/CadastroFuncionarios/GridAfastamento/?Array=' + Afastamentos.join('&Array='), function (r, s, x) {
                if (s == 'success') {
                    $('#dataInicio').val('');
                    $('#cbxAfastamento').val('a');
                    $('#dataFinal').val('');                  

                    $('#AlertaModal').attr('hidden', 'hidden');

                    var afastamento = Afastamentos.filter(function (x) {

                        var ini = new Date(x.split('/')[0]).getTime();
                        var fim = x.split('/')[1] == '' ? 'full' : new Date(x.split('/')[1]).getTime();

                        var hoje = new Date(String(new Date().getFullYear()).padStart(4, '0') + '-' + String(new Date().getMonth() + 1).padStart(2, '0') + '-' + String(new Date().getDate()).padStart(2, '0')).getTime();

                        return (DateDiff(hoje, ini) >= 0) && ((fim == 'full') || DateDiff(fim, hoje) >= 0);
                    });

                    if (afastamento.length > 0) {
                        var txt = afastamento[0].split('/');
                        $('#txtAfastamento').text(txt[0].split('-')[2] + '/' + txt[0].split('-')[1] + '/' + txt[0].split('-')[0] + " até " + (txt[1] == '' ? 'Indefinido' : txt[1].split('-')[2] + '/' + txt[1].split('-')[1] + '/' + txt[1].split('-')[0]) + " - Motivo: " + txt[2]);
                    } else {
                        $('#txtAfastamento').text("Não está afastado hoje");
                    }

                } else {
                    Afastamentos = [];
                    $('#txtalertaModal').text('Erro: ' + x.statusText + ' : ' + x.status);
                    $('#AlertaModal').removeAttr('hidden', 'hidden');
                }
            });
        }

        AtualizaGridAfastamentos();
    </script>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-info" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
</div>
<script src="~/scripts/Index.js"></script>
<script>
    monitorador();

    $('#Indefinido').click(function () {
        if ($(this).is(':checked')) {
            $('#dataFinal').val('');
            $('#dataFinal').attr('disabled', 'disabled');
        } else {
            $('#dataFinal').removeAttr('disabled');
        }
    });

    $('#AddAfastamento').click(function () {
        var Afastamento = "";
        if ($('#Indefinido').is(':checked')) {
            if ($('#dataInicio').val() != '' && $('#cbxAfastamento').val() != 'a' && $('#cbxAfastamento').val() != null) {
                Afastamento = $('#dataInicio').val() + '//' + $('#cbxAfastamento').val();
                if (isNewIn(Afastamento, Afastamentos) && !Afastamento.includes('null')) {
                    Afastamentos.push(Afastamento);
                    AtualizaGridAfastamentos();
                } else {
                    $('#txtalertaModal').text('Já existe um Afastamento cadastrado para o mesmo período');
                    $('#AlertaModal').removeAttr('hidden', 'hidden');
                }

            } else {
                $('#txtalertaModal').text('Preencha todos os campos');
                $('#AlertaModal').removeAttr('hidden', 'hidden');
            }
        } else {
            if ($('#dataInicio').val() != '' && $('#cbxAfastamento').val() != 'a' && $('#cbxAfastamento').val() != null && $('#dataFinal').val() != '') {
                if (DateDiff($('#dataInicio').val(), $('#dataFinal').val()) <= 0) {
                    Afastamento = $('#dataInicio').val() + '/' + $('#dataFinal').val() + '/' + $('#cbxAfastamento').val();
                    if (isNewIn(Afastamento, Afastamentos) && !Afastamento.includes('null')) {
                        Afastamentos.push(Afastamento);
                        AtualizaGridAfastamentos();
                    } else {
                        $('#txtalertaModal').text('Já existe um Afastamento cadastrado para o mesmo período');
                        $('#AlertaModal').removeAttr('hidden', 'hidden');
                    }
                } else {
                    $('#txtalertaModal').text('A data de inicio é maior que a final');
                    $('#AlertaModal').removeAttr('hidden', 'hidden');
                }
            } else {
                $('#txtalertaModal').text('Preencha todos os campos');
                $('#AlertaModal').removeAttr('hidden', 'hidden');
            }
        }
    });

    $('#txtalertaModal').change(function () {
        alert("asasasas");
    });

    $('#FechaAlertaModal').click(function () {
        $(this).parent().attr('hidden', 'hidden');
    });

    $('#tabAfastamento').on('click', '.btnRemoverAfastamento', function () {
        btn = $(this);       
        Afastamentos = Afastamentos.filter(function (itens) { return itens != btn.attr('valor') });
        AtualizaGridAfastamentos();
    });

    function DateDiff(data1, data2) {      

        try {
            var one_day = 1000 * 60 * 60 * 24;

            var ini = new Date(data1).getTime();
            var fim = new Date(data2).getTime();

            var diff = ini - fim;

            return Math.round(diff / one_day);

        } catch (e) {
            throw DOMException;
        }

    }

    function isNewIn(stringAfastamento, array) {

        if (array.filter(function (x) {

            var ini = new Date(x.split('/')[0]).getTime();
            var fim = x.split('/')[1] == '' ? 0 : new Date(x.split('/')[1]).getTime();

            var inistr = new Date(stringAfastamento.split('/')[0]).getTime();
            var fimstr = stringAfastamento.split('/')[1] == '' ? 0 : new Date(stringAfastamento.split('/')[1]).getTime();

            return ((inistr >= ini) && ((inistr <= fim && fim != 0) || fim == 0)) || ((fimstr >= ini && fimstr != 0) && ((fimstr == 0) || ((fimstr <= fim && fim != 0) || fim == 0))) || ((inistr <= ini && (fimstr == 0 || (fimstr >= fim && fim != 0))));

        }).length > 0) {
            return false;
        } else {
            return true;
        }
    }

</script>
