@foreach (var Departamento in Model)
            {
    <tr valor="@Departamento.IDDepartamento" class="DepLinha" style="cursor:pointer;">
        <td>@Departamento.IDDepartamento</td>
        <td>@Departamento.Nome</td>
    </tr>
}
