@foreach (var Funcionario in Model)
            {
    <tr valor="@Funcionario.IDFuncionario" class="FuncLinha" style="cursor:pointer;">
        <td>@Funcionario.IDFuncionario</td>
        <td>@Funcionario.Nome</td>
    </tr>
}
