@model IEnumerable<SapewinWeb.Models.Empresas>
<div class="card-header" style="margin-bottom:10px;background-color: rgba(255, 133, 27, 0.3);"><i class="fa fa-area-chart" aria-hidden="true"></i> <strong>Cadastro de Empresas</strong></div>
<div class="alert alert-danger alert-dismissible fade show" hidden="hidden" id="Alerta" role="alert">
    <button type="button" id="FechaAlerta" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong class="txtalerta" id="txtalerta"></strong>
</div>

<div id="Relatorio" style="display: none;">

</div>

<button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" id="ImprimirCargo" title="Imprimir" style="margin-left: 5px; ">
    <i class="fa fa-file" aria-hidden="true"></i> Exportar

</button>
<div class="dropdown-menu" style="min-width: 105px; text-align:center">
    <button class="btn btn-sm btn-danger" id="Pdf" style="min-width: 80px;">
        <i class="fa fa-file-pdf-o"></i> PDF
    </button>

    <div role="separator" class="dropdown-divider"></div>

    <button class="btn btn-sm btn-success" id="Excel" style="min-width: 80px; ">
        <i class="fa fa-file-excel-o"></i> Excel
    </button>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-lg-4 col-md-7 col-sm-7 col-12">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control txtPesquisar" value="" placeholder="Pesquisar">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <label class="custom-control custom-checkbox" style="margin-left:20px">
                        <input type="checkbox" checked="checked" id="Contem" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                        <span>Contem</span>
                    </label>
                    <div role="separator" class="dropdown-divider"></div>
                    <label class="custom-control custom-checkbox" style="margin-left:20px">
                        <input type="checkbox" id="NaoContem" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                        <span>Não Contem</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="input-group input-group-sm text-center" style="margin:0px 5px 5px 5px;font-size:small;">                
                <select class="form-control-sm Seletor" Evento="/CadastroEmpresas/CadastroEmpresas_Abrir_Grid/?pesquisa=" Load="#TabCadastroEmpresas" style="margin-left:5px;margin-right:5px;">
                    <option selected="selected" value="dez">10</option>
                    <option value="vinte">20</option>
                    <option value="quarenta">40</option>
                    <option value="oitenta">80</option>
                </select>
                <span style="margin-top:5px">Por Pagina</span>
            </div>
        </div>
    </div>
    <script>
        Pagina = 0;
        order = 'codigo-up';
        ids = new Array();
    </script>
    <div class="col-md-12">
        <div class="py-3" id="TabCadastroEmpresas">
            @RenderPage("CadastroEmpresas_Abrir_Grid.cshtml")
        </div>
    </div>
</div>
<script>
    monitorador();
    visualiza = 10;
    $('.indice').parent().removeClass('active');
    $('.indice.CadastroEmpresas').parent().addClass('active').addClass('show').parent().addClass('show').parent().children().first().removeClass('collapsed');

    var Time;
    $('.txtPesquisar').keyup(function () {
        Time = 500;
        Pagina = 0;
        setTimeout(LoadGridCadastroEmpresas, Time);
    });

    $('#FechaAlerta').click(function () {
        $(this).parent().attr('hidden', 'hidden');
    });

    $('#Contem').click(function () {
        if($(this).is(':checked')){
            $('#NaoContem').prop('checked', false);
        } else {
            $('#NaoContem').prop('checked', true);
        }
        LoadGridCadastroEmpresas();
    });

    $('#NaoContem').click(function () {
        if ($(this).is(':checked')) {
            $('#Contem').prop('checked', false);
        } else {
            $('#Contem').prop('checked', true);
        }
        LoadGridCadastroEmpresas();
    });

    $('#Pdf').click(function () {
        $.post('/RelatoriosGerais/GerarPDF/', { CategoriaRelatorio: 1, Ordem: order, ids: ids }, function (data) {

            if (data.status) {
                var html = '<embed width="100%" height="100%" name="plugin" id="plugin" src="data:application/pdf;base64,' + data.file + '" type="application/pdf" internalinstanceid="15">';

                $('#Relatorio').height($('#Mywrapper').height());
                $('#Relatorio').width($('#Mywrapper').width() - 400);

                $('#Relatorio').html(html);

                $.fancybox("#Relatorio", {
                    openEffect: 'elastic',
                    closeEffect: 'elastic',
                    closeClick: false,
                    helpers: {
                        overlay: { closeClick: false }
                    }
                });
            }
            else{
                $('#txtalerta').text('Erro: ' + data.msg);
                $('#Alerta').removeAttr('hidden'); $('#Mywrapper').animate({ scrollTop: 0 }, 1000);
            }
        });
    });
</script>